* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* ESTILOS TIPOGRAFIA MENU */


.menu{
  /* border:solid 1px red; */
  position: absolute;
  right:50px;
}



.menu a{
  padding:6px;
  margin:8px;
  /* border: solid 1px black; */
  text-decoration: none;
  color: black;
  background-color: white;
  transition:700ms;
  
}

.menu a:hover{

  color:white;
  background-color: #4caf50;
  /* border:solid 1px white; */
}

/* NAVEGACION */


.navegacion {
  /* border:solid 1px orange; */
  background-color: #1A2A5A;
  color: white;
  height: 120px;
  display:flex;
  /* position:fixed;
  top:0px;
  z-index: 100; */

  
  
}

.navegacion img{
  
  border-radius:50%;
  margin-right:20px;
  height:100px;
}



/* ESTILOS GENERALES SECCION HERO*/

.hero{
  /* border:solid 2px black; */
  background-color: #f5f5f5;
  min-height: 400px;
}

.titulo-principal{
  
  /* border: solid 2px green; */
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  
}



/* IMAGEN HERO */

.imagen-hero{

  /* border:solid 1px brown; */
  margin-top:25px;
  margin-bottom:30px;
}

/* ESTILOS SECCION SERVICIOS */

.servicios{

  /* border:solid 2px purple; */
  max-height:400px;
  background-color: #1A2A5A;
  

}

.titulo-servicios {
  
  
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;

}

.subtitulo-servicios{
  /* border: solid 1px white; */
  color:white;
  font-style: italic;
  font-family: cursive;
  font-size:18px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width:900px;
}

.contenedor{
  max-width: 900px ;
  text-align:center;
  color:white;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  
}


.detalles{

  /* border: solid 1px green; */
  text-align: center;
  background-color: #f5f5f5;
  min-height: 400px;
  
  
}



.detalles .reparaciones{

  /* border:solid 2px rgb(16, 158, 224); */
  min-height:250px;
  width:max-content;
  margin-top:50px;
  
  
}

.columnas{

  border: solid 1px rgb(179, 156, 156);
  /* transition: 700ms; */
  transition: background-color 0.6s ease;
  
 

}

.columnas:hover{

  background-color:#4caf50 ;
  color:white;
  
}

.reparaciones img{
  margin-top: 10px;
  height:40px;
  margin-bottom:40px;
}

.columnas .marcas {

  padding:10px;
  margin:60px 5px 5px 5px;
  text-transform:uppercase;

}

.columnas .marcas2{

  padding:10px;
  margin:83px 5px 5px 5px;
  text-transform:uppercase;
}


/* ESTILOS SECCION PRODUCTOS */

.galeria{

  /* border:solid 2px purple; */
  background-color: #1A2A5A;
}

.fotos .columnas-photo{

  margin-bottom:30px;
}



.titulo-productos {
 
  color:white;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

.photo-item{

  position:relative;
 

 
}

.photo-item img{

 
  border-radius: 10px;
  transition:opacity 0.3s ease ;
}

.photo-item .overlay {
  position: absolute;
  top: 10px;
  left: 55px;
  width: 200px;
  height:200px;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.3s ease; /* Transición suave */
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-item .overlay-text {
 
  color: white;
  font-size: 18px;
  font-weight: bold; /* Texto en negrita */
  text-align: center;
  width:100%;
  margin-top:40px;
  
  
}

.photo-item:hover img {
  opacity: 0.5; /* Baja la opacidad de la imagen */
}

.photo-item:hover .overlay {
  opacity: 1; /* Muestra el overlay */
}

.description-btn {
  margin-top: 0px;
  padding: 5px 5px 5px 5px;
  background-color: #FF6F61; /* Color de acento */
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}

.description-btn:hover {
  background-color: #4caf50; /* Color de acento más oscuro */
}


/* Estilos para la ventana emergente (modal) */
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  top:200px;
  left:400px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-modal:hover {
  color: #000;
}

/* ESTILOS SECCION SOPORTE TECNICO */
.Soporte{
  /* border:solid 2px black; */
  background-color: #f5f5f5;
  min-height: 400px;
}

.titulo-soporte{

  color:black;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subtitulo-soporte-tec{

  color:black;
  font-style: italic;
  font-family: cursive;
  font-size:18px;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width:900px;
  text-align: center;
}

.card{

  margin: 40px;
}

/* ESTILOS SECCION TESTIMONIOS */
.color-personalizado{

  background-color: #f5f5f5;
}
.testimonios{

  border:solid 2px rgb(236, 9, 9);
  background-color: #1A2A5A;
  text-align: center;
  color:white;
  padding: 40px 40px 80px 40px;
  height:650px;
}

.testimonios .titulo-testimonio{

  color:white;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

.subtitulo-clientes{

  font-style: italic;
  font-family: cursive;
  font-size:18px;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width:900px;
  
  
}


.testimonios .clientes{
  /* border:solid 2px white; */
  margin-top:50px;
  height:400px;
  max-width: 800px;
}

 .carousel-item{
  /* border:solid 1px yellow; */
  height:370px;
  
  

  
}

.clientes img{

  margin-bottom:50px;
}

.clientes .testimonio-texto{

  margin-bottom: 60px;
  width: 800px;
}

/* ESTILOS SECCION CONTACTANOS */

.contactanos{
  border:solid 1px black;
  background-color: #f5f5f5;
  height:400px;
  
}

.pie{

  border:solid 1px red;
  margin-top:40px;
}

/* MEDIAS QUERYS */

@media (max-width:412px){

  .navegacion img{

    display:none;
  }

  .navegacion h1{

    display:none;
  }

  .menu{
    
    position:relative;
    right:-2px;

  }
}

@media (max-width:500px){
  
  .navegacion img{

    display:none;
  }

  .navegacion h1{

    display:none;
  }
}

@media (max-width:937px){

  .navegacion h1{

    display:none;
  }
}

@media (max-width:412px){


  .columnas-photo .overlay{

    position:absolute;
    left:90px;
  }

  .hero .titulo-principal{

    text-align:center;
  }

  .modal-content{

    position:relative;
    left:2px;
  }

  .menu a{

    font-size:10px;
    
  }
}