* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS TIPOGRAFIA MENU */


.menu{
  border:solid 1px red;
  position: absolute;
  right:50px;
}

.menu a{
  padding:6px;
  margin:8px;
  border: solid 1px black;
  text-decoration: none;
  color: black;
  background-color: white;
  transition:1000ms;
}

.menu a:hover{

  color:white;
  background-color: #4caf50;
  border:solid 1px white;
}

/* NAVEGACION */


.navegacion {
  border:solid 2px orange;
  background-color: #1A2A5A;
  color: white;
  height: 100px;
  
  
}

.navegacion h1{
  border:solid 1px green;
  color: white;
  margin-left: 20px;
}


/* ESTILOS GENERALES SECCION HERO*/

.hero{
  border:solid 2px black;
  background-color: #f5f5f5;
  /* border: solid 2px blue; */
  min-height: 400px;
}

.titulo-principal{
  
  border: solid 2px green;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  
}



/* IMAGEN HERO */

.imagen-hero{

  border:solid 1px brown;
  margin-top:25px;
  margin-bottom:30px;
}

/* ESTILOS SECCION SOPORTE */

.soporte{

  border:solid 2px purple;
  min-height:400px;
  background-color: #1A2A5A;

}

.titulo-soporte{
  
  border:solid 1px red;
  color:white;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  


}

.subtitulo-soporte{
  
  border:solid 1px red;
  color:white;
  max-width:820px;
  margin-top:50px;
  margin-bottom: 50px;
  padding:5px;
  text-align:center;
  font-family: "Arsenal SC", serif;
  font-style:italic;
  font-weight:bold;
  font-size:1.1rem;

  
}
/* MEDIAS QUERYS */

@media (max-width: 500px) {
  h1 {
  position: absolute;
  right:80px;
  top:10px;

  }

}


@media (max-width: 730px) {
  .menu {
    position: absolute;
    right: 80px;
    top: 70px;
    font-size:10px;
    width: 300px;
    text-align: center;
  }

}
