* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS TIPOGRAFIA MENU */


.menu{
  border:solid 1px red;
  position: absolute;
  right:50px;
}

.menu a{
  padding:6px;
  margin:8px;
  border: solid 1px black;
  text-decoration: none;
  color: black;
  background-color: white;
  transition:700ms;
}

.menu a:hover{

  color:white;
  background-color: #4caf50;
  border:solid 1px white;
}

/* NAVEGACION */


.navegacion {
  border:solid 2px orange;
  background-color: #1A2A5A;
  color: white;
  height: 100px;
  
  
}

.navegacion h1{
  border:solid 1px green;
  color: white;
  margin-left: 20px;
}


/* ESTILOS GENERALES SECCION HERO*/

.hero{
  border:solid 2px black;
  background-color: #f5f5f5;
  /* border: solid 2px blue; */
  min-height: 400px;
}

.titulo-principal{
  
  border: solid 2px green;
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  
}



/* IMAGEN HERO */

.imagen-hero{

  border:solid 1px brown;
  margin-top:25px;
  margin-bottom:30px;
}

/* ESTILOS SECCION SERVICIOS */

.servicios{

  border:solid 2px purple;
  min-height:550px;
  background-color: #1A2A5A;

}

.titulo-servicios {
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;

}

.subtitulo-servicios{

  color:white;
  font-style: italic;
  font-family: cursive;
  font-size:18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contenedor{
  max-width: 900px ;
  text-align:center;
  color:white;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  
}


.detalles{

  border: solid 1px black;
  text-align: center;
  margin-top:40px;
}

.reparaciones{

  border:solid 1px yellow;
  height: 200px;
  min-width: 300px;
  
}

.columnas {

  border: solid 1px black;
  background-color: #f5f5f5;
  color:black;
  
} 

.detalles img{

  width: 30px;
  margin-top:10px;
  
}

.detalles .reparaciones p{

  margin-top:50px;
  text-align: center;
}

/* ESTILOS SECCION PRODUCTOS */

.productos{

  background-color: #f5f5f5;
  min-height:550px;
}

.titulo-productos{
  
  font-size:40px;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

.fotos{

  margin-bottom:20px;
}
/* MEDIAS QUERYS */

@media (max-width: 500px) {
  h1 {
  position: absolute;
  right:80px;
  top:10px;

  }

}


@media (max-width: 730px) {
  .menu {
    position: absolute;
    right: 80px;
    top: 70px;
    font-size:10px;
    width: 300px;
    text-align: center;
  }

}
